html{
	background: url(http://subtlepatterns.com/patterns/dark_dotted.png) repeat #222;
	}
body{
	overflow: hidden;
	background-color: #FFFFFF;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.poptitle{
	text-align: center;
	color: #D81518;
	}
.border
{
	position: absolute;
	background-image: url("star.jpg");
	left: 7%;
	width: 90%;
	height: 110%;
	background-position: 0px 0px;
	background-size: auto;
	animation: animatedBackground 10s linear infinite;
	-moz-animation: animatedBackground 10s linear infinite;
	-webkit-animation: animatedBackground 10s linear infinite;
	-ms-animation: animatedBackground 10s linear infinite;
	-o-animation: animatedBackground 10s linear infinite;
	top: 13.5%;
}
#font{
    font-family: 'Oleo Script', cursive;
    font-size:450%;
    position:absolute;
    width:40%;
    height:10%;  
    top:3%;
    left:35%; 
    float:left;
  
}
#system{
    font-family: 'Alegreya', serif;
    font-size:250%;
    position:absolute;
    width:40%;
    height:10%;  
    top:3%;
    left:73%; 
    float:left;
  
}
#score{
    font-family: 'Alegreya', serif;
    font-size:250%;
    position:absolute;
    width:40%;
    height:10%;  
    top:3%;
    left:73%; 
    float:left;
  
}
#time{
	font-family: 'Alegreya', serif;
	font-size: 250%;
	position: absolute;
	width: 40%;
	height: 10%;
	top: 3%;
	left: 73%;
	float: left;
	margin-left: 11px;
  
}
#top{
    
    position:absolute;
    width:100%;
    height:10%;  
    top:3%;
    border-bottom:3px solid;
  
}


#block{
    position:absolute;
    border:solid 5px;
    float:left;
    width:80px;
    height:80px;  
    top:-18%;
    left:85%;

  
}

#icon{
	position: absolute;
	float: left;
	margin-top: 10%;
	width: 7%;
	height: 90%;
	margin-left: 11px;
    
     }

td{
     font-family: 'Alegreya', serif;
     text-align:center;
	 
 }
#td1{
	  background-image:url("fb1.png");
      background-position:center;
      background-repeat:no-repeat;
	  border-style:none;
      width:64px;
      height:64px;
      text-decoration: none;

 }

#td1:hover{
background-image:url("fb2.png");
transition: background-image .5s ease-in-out;
 }
#td2{
      background-image:url("tw1.png");
      background-position:center;
      background-repeat:no-repeat;
      width:64px;
      height:64px;
    
 }

#td2:hover{
      background-image:url("tw2.png");
      transition:.5s;
      cursor:pointer;
  

 }
#td3{
      background-image:url("yu1.png");
      background-position:center;
      background-repeat:no-repeat;
      width:64px;
      height:64px;
    
 }

#td3:hover{
      background-image:url("yu2.png");
      transition:.5s;
      cursor:pointer;
  

 }
#td4{
      background-image:url("ig1.png");
      background-position:center;
      background-repeat:no-repeat;
      width:64px;
      height:64px;
    
 }

#td4:hover{
      background-image:url("ig2.png");
      transition:.5s;
      cursor:pointer;
  

 }
#td5{
      background-image:url("gp1.png");
      background-position:center;
      background-repeat:no-repeat;
      width:64px;
      height:64px;
    
 }

#td5:hover{
      background-image:url("gp2.png");
      transition:.5s;
      cursor:pointer;
  

 }



    #container {/*給立方體0的空間*/
    
      margin-top:3%;
      width: 800px;
      height: 100px;
      -webkit-perspective-origin: 50% 225px; /*立體透視*/
    }                
        #container1 {/*給立方體1的空間*/      
      width: 1200px;
      height: 100px;
  
      
      
      -webkit-perspective-origin: 50% 225px; /*立體透視*/
    }      
          #container2 {/*給立方體的空間*/
      width: 1800px;
      height: 100px;
  
      
      -webkit-perspective-origin: 50% 225px; /*立體透視*/
    }    
          #container3 {/*給立方體的空間*/
      width:800px;
      height: 100px;
   
      
      -webkit-perspective-origin: 50% 225px; /*立體透視*/
    }    
          #container4 {/*給立方體的空間*/
      width:1600px;
      height:100px;
      
      
      -webkit-perspective-origin: 50% 225px; /*立體透視*/
    }    
          #container5 {/*給立方體的空間*/
      width:300px;
      height: 100px;
      
      -webkit-perspective-origin: 50% 225px; /*立體透視*/
    }     
    #shape {/*整個立方體1的設定*/

      position: absoulte;
      margin-top:10px;
      margin: 0 auto;
      height:200px;
      width:150px;   
      
    
   
      -webkit-transform-style: preserve-3d;       
      -webkit-animation: spin 8s infinite linear;/*循環、速度*/
    }
      #shape1 {/*整個立方體2的設定*/

      position: absoulte;
      top: 0%;
      left:50%
      margin: 0 auto;
      height: 200px;
      width: 400px; 

      -webkit-transform-style: preserve-3d;       
      -webkit-animation: spin1 8s infinite linear;/*循環、速度*/
      
    }
      #shape2 {/*整個立方體2的設定*/

      position: absoulte;
      top: 0%;
      margin: 0 auto;
      height: 300px;
      width: 350px;
      
      -webkit-transform-style: preserve-3d;       
      -webkit-animation: spin3 15s infinite linear;/*循環、速度*/
      
    }
     #shape3 {/*整個立方體2的設定*/

      position: absoulte;
      top: 0%;
      margin: 0 auto;
      height: 300px;
      width: 100px;
     
      -webkit-transform-style: preserve-3d;       
      -webkit-animation: spin1 10s infinite linear;/*循環、速度*/
      
    }
      #shape4 {/*整個立方體2的設定*/

      position: absoulte;
      top: 0%;
      margin: 0 auto;
      height: 100px;
      width: 250px;
     
      -webkit-transform-style: preserve-3d;       
      -webkit-animation: spin4 9s infinite linear;/*循環、速度*/
      
    }
      #shape5 {/*整個立方體2的設定*/
      position: relative;
      top: 0%;
      margin: 0 auto;
      height: 80px;
      width: 300px;  
      -webkit-transform-style: preserve-3d;       
      -webkit-animation: spin2 10s infinite linear;/*循環、速度*/
      
    }
    
    .plane { /*每個面的設定*/
      position: absolute;
      height: 100px;
      width: 100px;
      border: 3px solid black;
      -webkit-box-sizing: border-box;
      text-align: center;
      font-family: Times, serif;
      font-size: 62pt;
      color: black;
      background-color: rgba(255, 255, 255, 0.6);
      -webkit-transition: -webkit-transform 2s, opacity 2s;
      -webkit-backface-visibility: hidden;
    }

    #shape.backfaces .plane {
      /*-webkit-backface-visibility: visible;*/     
      
    }
    @-webkit-keyframes spin { /*33行*/
      from { -webkit-transform: rotateY(70 deg) rotateZ(-45deg); }
      to   { -webkit-transform: rotateY(-720deg) rotateZ(-360deg); }
      
    }
    @-webkit-keyframes spin1 { /*33行*/
      from { -webkit-transform: rotateY(-70 deg) rotateZ(45deg); }
      to   { -webkit-transform: rotateY(720deg) rotateZ(360deg); }
      
    }
      @-webkit-keyframes spin2 { /*33行*/
      from { -webkit-transform: rotateY(70 deg) rotateZ(70deg); }
      to   { -webkit-transform: rotateY(1080deg) rotateZ(-720deg); }
      
    }
        @-webkit-keyframes spin3 { /*33行*/
      from { -webkit-transform: rotateY(-70 deg) rotateZ(70deg); }
      to   { -webkit-transform: rotateY(-1080deg) rotateZ(360deg); }
      
    }
       @-webkit-keyframes spin4 { /*33行*/
      from { -webkit-transform: rotateY(70deg) rotateZ(270sdeg); }
      to   { -webkit-transform: rotateY(-360deg) rotateZ(720deg); }
      
    }
    .one {
      
      -webkit-transform: scale3d(1, 1,1) rotateX(90deg) translateZ(50px);
      background-color:blue;
       -webkit-animation: myfirst 10s linear 0s infinite alternate;
    }
    

    .two {
      -webkit-transform: scale3d(1,1, 1) translateZ(50px);
      background-color:yellow;
      -webkit-animation: myfirst1 10s linear 0s infinite alternate;
    }

     .three {
      -webkit-transform: scale3d(1, 1, 1) rotateY(90deg) translateZ(50px);
      background-color:green;
    }

      .four {
      -webkit-transform: scale3d(1, 1, 1) rotateY(180deg) translateZ(50px);
      background-color:red;
    }

      .five {
      -webkit-transform: scale3d(1, 1, 1) rotateY(-90deg) translateZ(50px);
      background-color:orange;
    }

      .six {
      -webkit-transform: scale3d(1, 1, 1) rotateX(-90deg) translateZ(50px) rotate(180deg);
      background-color:purple;
    }
 /*@-webkit-keyframes myfirst {
    0%   {background:blue;}
    25%  {background:green; }
    50%  {background:red;}
    75%  {background:purple;}
    100% {background:yellow;}
}
 @-webkit-keyframes myfirst1 {
    0%   {background:yellow;}
    25%  {background:green; }
    50%  {background:purple;}
    75%  {background:red;}
    100% {background:blue;}
}                      */

@keyframes animatedBackground {
	0% { background-position: 0 0; }
	100% { background-position: -300px 0; }
}
@-moz-keyframes animatedBackground {
	0% { background-position: 0 0; }
	100% { background-position: -300px 0; }
}
@-webkit-keyframes animatedBackground {
	0% { background-position: 0 0; }
	100% { background-position: -300px 0; }
}
@-ms-keyframes animatedBackground {
	0% { background-position: 0 0; }
	100% { background-position: -300px 0; }
}
@-o-keyframes animatedBackground {
	0% { background-position: 0 0; }
	100% { background-position: -300px 0; }
}
.sendfield {
	position: absolute;
	left: 23%;
	top: 70%;
}
#popup p {
	font-size: large;
	font-family: "微軟正黑體";
	background-color: #93C180;
	opacity: 0.6;
	border-radius: 19px;
	width: 200px;
	height: 40px;
	text-align: center;
	padding-top: 10px;
	color: #FFFFFF;
	margin-left: 75px;
	text-shadow: 2px 2px #000000;
	font-weight: bold;
}
.sendfield input {
	width: 150px;
	height: 30px;
}
.sendfield a {
	text-decoration: none;
	margin-left: 13px;
	border-radius: 4px;
	background-color: #9B9B9B;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	color: #E9E9E9;
}
.content h1 {
	text-align: center;
	color: #2E4E7F;
	font-family: "微軟正黑體";
}
.content iframe {
	position: absolute;
	left: 20%;
	width: 521px;
	border: none;
	height: 200px;
	
}
.content a {
	text-decoration: none;
	position: absolute;
	left: 81%;
	top: 81%;
	color: #FFFFFF;
	padding-top: 22px;
	padding-right: 22px;
	padding-bottom: 22px;
	padding-left: 22px;
	background-color: #FF0004;
	border-radius: 13px;
}
#rank {
	padding-top: 7px;
	padding-right: 20px;
	padding-bottom: 7px;
}
#rank:hover{
	color: #FFFFFF;
	transition: .5s;
	cursor: pointer;
	font-weight: bold;
	background-color: #BABABA;
	border-bottom-left-radius: 8px;
	border-top-left-radius: 8px;
	padding-left: 12px;
	}
#restart {
	padding-top: 7px;
	padding-right: 20px;
	padding-bottom: 7px;

}
#restart:hover{
	color: #FFFFFF;
	transition: .5s;
	cursor: pointer;
	font-weight: bold;
	background-color: #FFA247;
	border-bottom-left-radius: 8px;
	border-top-left-radius: 8px;
	padding-left: 12px;
	}
#back {
	padding-top: 7px;
	padding-right: 20px;
	padding-bottom: 7px;

}
#back:hover{
	color: #FFFFFF;
	transition: .5s;
	cursor: pointer;
	font-weight: bold;
	background-color: #0178DA;
	border-bottom-left-radius: 8px;
	border-top-left-radius: 8px;
	padding-left: 12px;
	}


